@model IEnumerable<FinalProject_3.Controllers.Donor>

@{
    ViewBag.Title = "Donor";
}
<div  class="title">
    <h2>Donor</h2>
    <p>Here are our donors for all to see.</p>
</div>
<div class="donors">
    <table>
        <thead>
            <tr>
                <th>Last Name</th>
                <th>First Name</th>
                <th>Email</th>
                <th>Donation Amount</th>
                <th>Donation Date</th>
            </tr>

        </thead>
            <tbody>
                @foreach (var item in Model)//razor
                {   <tr>
                     <td> @Html.DisplayFor(modelItem => item.LastName) </td>
                    <td> @Html.DisplayFor(modelItem => item.FirstName) </td>
                    <td> @Html.DisplayFor(modelItem => item.Email) </td>
                    <td> @Html.DisplayFor(modelItem => item.DonationAmount) </td>
                    <td> @Html.DisplayFor(modelItem => item.DonationDate) </td>                
                    </tr>
                }
            </tbody>
    </table>
</div>
